.rotate{
  transform:rotate(90deg);
  width:50%;
  height:auto;
  float:right;
}
body{
  background-color: #003399;
}
h1 {
  font-size:30px;
  line-height: 40px;
}
h6{
  font-size:15px;
  line-height: 10px;
}
